body {

 font-family: Georgia, "Times New Roman",
          Times, serif;
     background-image: url("Bild B.jpg ");

	

	 
	 
	 
	 } 
		
		ul { display:table; margin:0 auto;}
		 
		 h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
		
		
	 #box1 {
  background-color: lime;
  
         
}	

#box2{
	background-color:skyblue;
	position: absolute;
          width: 215px;
         height: 900px;
            top: 15px;
           left: 2px;
}

#box3{
	background-color:skyblue;
	position: absolute;
          width: 214px;
         height: 900px;
            top: 15px;
           right: 2px;
}

